APP_ENV=dev

RESEND_API_KEY=
RESEND_FROM=
SITE_URL=http://localhost:3000
ADMIN_PASS=password
ADMIN_USER=admin
SESSION_SECRET=dev-secret-not-for-production
YT_DLP_BIN=./bin/yt-dlp

# Data paths
DB_PATH=./database/db.sqlite
VIDEO_DIR=./videos
